body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: Roboto;
}

button > span {
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
