#container {
  background-color: #ECEFF1;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center
}

#card {
  width: 320px;
  padding: 54px 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#textName {
  margin-bottom: 4px;
}

#imageContainer {
  padding: 46px 0;
}

#image {
  width: 132px;
}

#button {
  color: white;
}

@media only screen and (max-width: 320px) {
  #card {
    height: 100vh;
  }
}